---
---

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);

.content {
  font-size: $custom-font-size;
}

.jumbotron {
    background-color: #BBC5FD;
}

.text-info {
    color: #3B457D !important;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

.pt-5, .py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.table {
  background-color: #EEF0FE;
}

.jumbotron {
    padding: 1rem 1rem;
}

#pharynx-link,
#oropharynx-link,
#hypopharynx-link,
#oral-cavity-link,
#larynx-link {
    cursor: pointer;
}

#pharynx-link:hover .pharynx-link-path {
    fill: red;
}

#oropharynx-link:hover .oropharynx {
    fill: green;
}

#hypopharynx-link:hover .hypopharynx {
    fill: blue;
}

#oral-cavity-link:hover .oral-cavity {
    fill: yellow;
}

#larynx-link:hover .larynx {
    fill: orange;
}
